@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

@keyframes bg-animation {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}

body {
    background-color: #1C1D20;
    cursor: none;
    overflow-x: hidden;
    /* scroll-behavior: slow; */
}

@media screen and (max-width: 576px) {
    /* nav {
        background-color: #070c0f84 !important;
        backdrop-filter: blur(75px) !important;
    } */
}

.blurred {
    background-color: #1c1d205b !important;
    backdrop-filter: blur(75px) !important;
}

a, button, form, label, input, textarea {
    cursor: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.active {
    color: white !important;
    font-weight: 600;
    background-color: #00B0FF;
    border-radius: 0px !important;
}

@media only screen and (min-width: 576px) {
    .active {
        color: #47ABD8 !important;
        font-weight: 600;
        background-color: transparent;
    }
}

.text-bg {
    animation: bg-animation 7.5s cubic-bezier(0.3, 0, 0.7, 1) infinite;
}

.about-unique::after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #A7A7A7;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: ease-in-out;
    transition-duration: 300ms;
    /* background-color: #258287; */
}

.about-unique:hover:after {
    height: 20px;
    background-color: #0088c6;
}

/* #cursor1 {
    background: white;
    background: linear-gradient(90deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(118, 9, 121, 1) 49%,
        rgba(0, 212, 255, 1) 100%);
    animation: follower 4s infinite;

    transition: 0s;
    pointer-events: none;
    mix-blend-mode: difference;
} */

/* .cursor1.active {
    width: 100px !important;
    height: 100px !important;
} */

/* nav:hover ~ #cursor1 {
    transform: scale(5);
} */

/* @keyframes follower {
    from {
        background: rgb(2, 0, 36);
        background: linear-gradient(90deg,
                rgba(2, 0, 36, 1) 0%,
                rgba(118, 9, 121, 1) 49%,
                rgba(0, 212, 255, 1) 100%);
    }

    to {
        background: rgb(171, 169, 4);
        background: linear-gradient(90deg,
                rgba(171, 169, 4, 1) 0%,
                rgba(0, 255, 93, 1) 100%);
    }
} */