@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    background-color: #070C0F;
    cursor: none;
    /* scroll-behavior: slow; */
}

.about-unique::after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #A7A7A7;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: ease-in-out;
    transition-duration: 300ms;
    /* background-color: #258287; */
}

.about-unique:hover:after {
    height: 20px;
    background-color: #0088c6;
}

/* .scroll-wrapper {
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 100px;
    transform-style: preserve-3d;
}

.scroll-wrapper2 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: -10px;
    margin: 0;
    padding: 0;
    transform: translateZ(-100px) scale(2);
} */