@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

@keyframes bg-animation {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}

body {
    background-color: #1C1D20;
    cursor: none;
    overflow-x: hidden;
    /* scroll-behavior: slow; */
}

@media screen and (max-width: 576px) {
    /* nav {
        background-color: #070c0f84 !important;
        backdrop-filter: blur(75px) !important;
    } */
}

.blurred {
    background-color: #1c1d205b !important;
    backdrop-filter: blur(75px) !important;
}

a, button, form, label, input, textarea {
    cursor: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.active {
    color: white !important;
    font-weight: 600;
    background-color: #00B0FF;
    border-radius: 0px !important;
}

@media only screen and (min-width: 576px) {
    .active {
        color: #47ABD8 !important;
        font-weight: 600;
        background-color: transparent;
    }
}

.text-bg {
    animation: bg-animation 15s cubic-bezier(0.3, 0, 0.7, 1) infinite;
}

.about-unique::after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #A7A7A7;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: ease-in-out;
    transition-duration: 300ms;
    /* background-color: #258287; */
}

.about-unique:hover:after {
    height: 20px;
    background-color: #0088c6;
}

.section-strategic p {
    color: #1C1D20;
        font-weight: 900;
        font-size: 96px;
        text-shadow:
            0px 0px 0 #767676,
            -1px -1px 0 #767676,
            1px -1px 0 #767676,
            -1px 1px 0 #767676,
            1px 1px 0 #767676;
}

@media screen and (min-width: 1280px) {
    .section-strategic p {
            font-size: 128px;
        }
}